footer {
  dl {
    dt,
    dd {
      font-weight: 700;
    }
  }
  form {
    label {
      color: $secondary-color;
      font-weight: bolder;
      font-size: 1.25rem;
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    li {
      padding: 0 1rem;
    }
  }
}
