// body,
// html {
//   margin: 0;
//   background: #000;
// }
// custom card
// 14. Card
// --------
// $card-background: $white;
// $card-font-color: $body-font-color;
// $card-divider-background: $light-gray;
// $card-border: 1px solid $light-gray;
// $card-shadow: none;
$card-border-radius: 5px;
//57. Font-awesome path
$fa-font-path: '/assets/fonts';
// $fa-font-path: 'node_modules/font-awesome/fonts';
// $card-padding: $global-padding;
// $card-margin-bottom: $global-margin;
video {
  position: fixed; // position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('https://res.cloudinary.com/nziswano/image/upload/q_auto:good/v1518513065/IMG_2043.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: capitalize;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 60vh;
}

.services {
  ul {
    list-style: none;
  }
  h4 {
    text-align: center;
  }
  &-row {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    .services {
      &-section {
        flex: 1 1;
      }
      &-benefits {
        align-content: center;
      }
    }
    .card {
      &-divider {
        color: $dark-gray;
        flex: 2 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        i {
          display: block;
          font-size: 4rem;
          flex: 1;
        }
        h3 {
          flex: 0 1;
        }
        p {
          flex: 1 0;
          align-self: flex-end;
        }
      }
      &-section {
        align-content: center;
      }
    }
  }
}

.projects {
  &-row {
    display: flex; // justify-content: space-around;
    // align-content: space-around;
  }
  .card {
    display: flex;
    flex-direction: column;
    &-divider {
      display: flex;
      flex-direction: column;
      flex: 2 0;
    }
    &-section {
      flex: 1 1;
    }
  }
}
